.background {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.background h2 {
  color: navy;
}

.header {
  background-color: white;
  width: 95%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 50px;
}

.header div {
  height: 100%;
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header input,
.header select {
  height: 70%;
  width: 200px;
  border: 1px solid rgba(0, 0, 128, 0.3);
  border-radius: 5px;
  margin: 0 10px 0 10px;
  background-color: white;
  padding-left: 10px;
}

.header input:focus {
  outline: none;
}

.searchButton {
  background-color: navy;
  color: white;
  height: 70%;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.searchButton:hover {
  background-color: blue;
}

.searchButton:disabled {
  background-color: rgb(172, 172, 172);
}

.mainSection {
  flex: 1;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  width: 98%;
}

.addStaffButton {
  background-color: navy;
  width: 200px;
  height: 40px;
  color: white;
  margin: 5px 5px 15px auto;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 100ms ease;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.addStaffButton svg {
  font-size: 1.5rem;
}

.addStaffButton:hover {
  background-color: blue;
  transform: translate(-3px, -3px);
  box-shadow: 3px 3px 3px blue;
}

.dataView {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.tableView {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.staffTable {
  background-color: white;
  border-radius: 10px;
  width: 100%;
  flex-grow: 1;
  text-align: center;
  border-collapse: collapse;
}

.staffTable thead {
  background-color: navy;
  color: white;
}

.staffTable tbody tr {
  transition: 100ms ease;
}

.staffTable tbody tr:hover {
  transform: translate(-5px, -5px);
  box-shadow: 0 0 5px black;
}

.staffTable tbody tr:nth-child(odd) {
  background-color: rgb(245, 245, 245);
}

.actions {
  display: flex;
  justify-content: space-evenly;
}

.actions svg {
  transition: 100ms ease;
}

.actions svg:hover {
  transform: translate(-3px, -3px);
  cursor: pointer;
}

.actions svg:nth-child(1) {
  color: blue;
}

.actions svg:nth-child(2) {
  color: maroon;
}

.pageController {
  display: flex;
  justify-content: center;
  margin: 5px auto 0 auto;
  height: 7%;
  width: 10%;
}

.pageController p,
.pageController button {
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 3px;
  width: 30px;
  height: 30px;
  margin: auto 5px;
  text-align: center;
  align-content: center;
}

.pageController button {
  cursor: pointer;
}

.pageController button:disabled {
  display: none;
}
