.loginBackground {
  background-color: white;
  display: flex;
  flex-direction: row;
  height: 70%;
  width: 80%;
  animation: zoomIn 500ms ease-in;
  border-radius: 10px;
}

.imageSection,
.formSection {
  flex: 1;
}

.imageSection img {
  width: 100%;
  height: 100%;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 5px;
}

.formSection {
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 5px;
}

.formSection form {
  min-height: 50%;
  width: 70%;
  display: flex;
  flex-direction: column;
}

.formSection form section {
  border: 1px solid rgba(0, 0, 0, 0.3);
  margin: 20px auto;
  width: 90%;
  height: 50px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  padding: 3px;
}

.formSection form section svg {
  display: flex;
  padding: 10px;
}

.viewPassword {
  opacity: 50%;
  cursor: pointer;
}

.formSection form section input {
  flex: 1;
  height: 90%;
  padding-left: 10px;
  border: none;
}

.formSection form section input:focus {
  outline: none;
}

.loginButton {
  margin: 10px auto;
  background-color: navy;
  height: 50px;
  width: 150px;
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 1.5rem;
  transition: background 100ms ease;
  cursor: pointer;
}

.loginButton:hover {
  background-color: lightblue;
  color: black;
}

@keyframes zoomIn {
  0% {
    opacity: 0%;
  }
  50% {
    opacity: 50%;
  }
  100% {
    opacity: 100%;
  }
}
