.background {
    background-color: #e8eff6;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.title {
    border-bottom: 3px solid #3498db;
    padding-left: 30px;
    color: rgba(0, 0, 0, 0.75);
}

.title h1 {
    font-size: 2rem;
}

.overview {
    height: 30%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
}
.overviewData {
    background-color: #d5e6f4;
    height: 80%;
    width: 30%;
    text-align: center;
    box-shadow: 5px 5px 5px 5px #bed1fa;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.overviewData svg {
    transform: scale(3);
    color: navy;
}

.actions {
    background-color: white;
    margin: 30px;
    padding: 20px;
    border-radius: 10px;
    overflow-y: scroll;
}

.appointmentSection h2 {
    font-size: 2rem;
    top: 0;
}

