.background {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  align-items: center;
}

.background h1 {
  text-align: center;
  font-size: 2rem;
}

/* Form */
.addVitals {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 70%;
  max-width: 50%;
  margin: 30px auto;
  background-color: rgb(245, 245, 245);
  padding: 20px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.addVitals label {
  margin: 20px 0 5px 0;
  font-weight: bold;
}

.addVitals input {
  height: 50px;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.3);
}

.addVitals div {
  width: 100%;
  margin: 30px auto;
  display: flex;
  justify-content: space-between;
}

.addVitals button {
  width: 30%;
  height: 50px;
  border: none;
  border-radius: 5px;
  transition: background 500ms ease;
}

.addVitals button:hover {
  cursor: pointer;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
}

.addVitals .cancelButton {
  background-color: red;
}

.addVitals .cancelButton:hover {
  background-color: rgb(255, 164, 164);
}

.addVitals .addButton {
  background-color: green;
}

.addVitals .addButton:hover {
  background-color: lightgreen;
}

.addVitals .clearButton {
  background-color: blue;
}

.addVitals .clearButton:hover {
  background-color: lightblue;
}

.searchSection {
  width: 70%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.searchSection label {
  font-weight: bold;
  margin-right: 20px;
}

.searchSection input {
  height: 50px;
  padding-left: 10px;
  border: 1px solid black;
  border-radius: 5px;
}

.background ul {
  flex-grow: 1;
  border-radius: 10px;
  background-color: #cccc;
  width: 99%;
  overflow-y: scroll;
}

.background ul li {
  list-style: none;
  padding-left: 20px;
  height: 100px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-left: 20px solid navy;
  margin: 10px auto;
  width: 80%;
  align-content: center;
  border-radius: 10px;
}

.background ul li:hover {
  background-color: white;
  cursor: pointer;
}
